<ion-view ng-controller="signInController as vm">
    <ion-content>
      <h1>Sign in!</h1>
      <div class="input">
          {{ vm.user.name }}
          {{ vm.user.email }}
          {{ vm.user.password }}
        Username: <input required ng-model="vm.user.name" placeholder="Enter name"/><br /><br />
        
        Email: <input type="email" required ng-model="vm.user.email" placeholder="Enter email"/><br /><br />
  
        Password: <input type="password" required ng-model="vm.user.password" placeholder="Enter password"/><br /><br />
        
        <input
          type="button"
          class="delete"
          value="Sign in"
          ng-click="vm.postUser(vm.user)"
        />
  
  
  
      </div>
    </ion-content>
  </ion-view>