<ion-view ng-controller="postPokemonController as vm">
  <ion-content>
    <h1>Create A New Pokemon!</h1>
    <div>
      Pokemon Name : <input required ng-model="vm.pokemon.name" placeholder="Enter pokemon"/><br /><br />

      Image Url : <input required ng-model="vm.pokemon.img" placeholder="Enter image"/><br /><br />

      Description :
      <input required ng-model="vm.pokemon.description" placeholder="Enter description"/><br /><br />
      
      Type:
      <select required ng-model="vm.pokemon.typeId">
        <option value="1">Air</option>
        <option value="2">Fire</option>
        <option value="3">Rock</option>
        <option value="4">Water</option>
      </select> <br /><br />
      <input
        type="button"
        class="delete"
        value="Create Pokemon"
        ng-click="vm.postData(vm.pokemon)"
      />
    </div>
  </ion-content>
</ion-view>
